.headerContainer {
    height: 10%;
    width: 100%;
}
.headerTitle {
    text-align: center;
    margin: 30px 50px;
    font-size: 10vh;
    font-weight: 900;
    transition: 0.3s;
}

/* .headerImg {
    height: 150px;
    width: 100%;
    overflow: hidden;
} */

@media (max-width: 500px) {
    .headerTitle {
        font-size: 6vh;
        font-weight: 900;
    }
}