.container {
   display: flex;
   flex-direction: column;
}
.formContainer {
   display: flex;
   flex-direction: column;
   margin: 10px 100px; 
}
.formInput {
   margin-bottom: 25px;
   padding: 8px;
   height: 20px;
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   border: none;
   outline: none;
   border: 1px solid #6B49F2;
   background-color: #d1d4ff;
   transition: 0.5s;
   /* letter-spacing: 1px; */
}
.formTextArea {
   font-family: 'Lato', sans-serif;
   margin-bottom: 25px;
   padding: 8px;
   width: 70%;
   height: 110px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   border: none;
   outline: none;
   border: 1px solid #6B49F2;
   background-color: #d1d4ff;
   transition: 0.5s;
   /* letter-spacing: 1px; */
}
.formInput:hover{
   background-color: #eff0ff;
}
.formLabel {
   margin-left: 14%;
   margin-right: auto;
   margin-bottom: 10px;
   font-weight: 600;
   transition: 0.5s; 
}
.formButton {
   width: 30%;
   height: 30px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   border: 1px solid #6B49F2;
   background-color: #2f86c1;
   transition: 0.3s;
}
.formButton:hover {
   background-color: #4C58FC;
   cursor: pointer;
}

@media (max-width: 500px) {
   .formContainer {
      margin: 10px 50px; 
   }
   .formInput{
      padding: 4px;
      width: 100%;
   }
   .formButton {
      height: 25px;
      width: 80px;
   }
   .formTextArea {
      height: 60px;
      width: 100%;
   }
   .formLabel {
      margin-left: 0;
   }
}